
body{
    background: url(Img/3HeZ.gif);
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    position: relative;
    width: 1440px;
    height: 117px;
    background: #333333;
}
.logo{
    position: absolute;
    left: 120px;
    top: 41px;
    
}
.texthead{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    left: 630px;
    top: 38px;
    word-spacing: 30px;
}
.asd{
    text-decoration: none;
    color: white;
}
.lupa{
    position: absolute;
    left: 1038px;
    top: 57px;
}
.yaya{
    position: absolute;
    left: 1140px;
    top: 53px;
}
.nachalo{
    position: relative;
    width: 1440px;
    height: 586px;
    background: #D9D2FF
}
.imgnach{
    border-radius: 240px 15px 180px;
    position: absolute;
    width: 282px;
height: 424px;
    left: 120px;
    top: 96px;
    
}
.imgnach2{
    position: absolute;
    width: 588px;
    height: 223px;
    left: 426px;
    top: 297px;
}
.nachtext{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 40px;
    position: absolute;
    top: 80px;
    left: 426px;
}
.nachtext2{
    font-family: 'Inter';
    position: absolute;
    top: 149px;
    left: 426px;
    font-weight: 600;
    font-size: 25px;
    color: #696969;
}
.text14{
    position: absolute;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    top: 91px;
    left: 1038px;
    color: black;
}
.text24{
    position: absolute;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    top: 135px;
    left: 1038px;
    color: black;
}
.text34{
    position: absolute;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    left: 1038px;
    top: 179px;
    color: black;
}
.text44{
    position: absolute;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    left: 1038px;
    top: 223px;
    color: black;
}
.vtmain{
    position: relative;
    width: 1440px;
    height: 424px;
    background: #D9D2FF
}
.textvtmain{
    position: absolute;
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 600;
    left: 120px;
    top: 23px;
}
.textvtmain2{
    position: absolute;
    font-family: 'Inter';
    font-size: 23px;
    font-weight: 600;
    color: #696969;
    left: 120px;
    top: 87px;
}
.imgvt{
    position: absolute;
    top: 23px;
    left: 836px;
}
.trmain{
    position: relative;
    width: 1440px;
    height: 922px;
    background: #D9D2FF
}
.texttrmain{
    position: absolute;
    top: 12px;
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 600;
    left: 118px;
}
.imgtrmain1{
    position: absolute;
    top: 130px;
    left: 220px;
}
.imgtrmain2{
    position: absolute;
    top: 130px;
    left: 827px;
    width: 384px;
    height: 300px;
}
.texttr1{
    position: absolute;
    font-family: 'Inter';
    font-size: 23px;
    font-weight: 600;
    left: 234px;
    top: 418px;
}
.texttr2{
    position: absolute;
    font-family: 'Inter';
    font-size: 23px;
    font-weight: 600;
    top: 416px;
    left: 815px;
}
.imgtrmain3{
    position: absolute;
    top: 540px;
    left: 212px;
}
.texttr3{
    position: absolute;
    font-family: 'Inter';
    font-size: 23px;
    font-weight: 600;
    top: 830px;
    left: 331px;
}
.imgtrmain4{
    position: absolute;
    top: 540px;
    left: 838px;
}
.texttr4{
    position: absolute;
    font-family: 'Inter';
    font-size: 23px;
    font-weight: 600;
    top: 830px;
    left: 941px;
}
.imgtrmain5{
    position: absolute;
    top: 490px;
    left: 648px;
}
.chmain{
    position: relative;
    width: 1440px;
height: 573px;
    background: #D9D2FF
}
.imgchmain1{
    position: absolute;
    top: 71px;
    left: 220px;
}
.textchmain1{
    position: absolute;
    font-family: 'Inter';
    font-size: 23px;
    font-weight: 600;
    padding: 10px 15px;
    border: 1px solid #696969;
    top: 360px;
    left: 300px;
}
.textchmain2{
    position: absolute;
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 600;
    left: 834px;
    top: 50px;
}
.textchmain3{
    position: absolute;
    font-family: 'Inter';
    font-size: 23px;
    font-weight: 600;
    left: 834px;
    top: 130px;
}
.textimya1{
    position: absolute;
    font-family: 'Inter';
    font-size: 23px;
    font-weight: 600;
    display: flex;
    padding: 10px 15px;
    left: 834px;
    top: 180px;
    background-color: #D9D2FF;
}
.textchmain4{
    position: absolute;
    font-family: 'Inter';
    font-size: 23px;
    font-weight: 600;
    left: 834px;
    top: 220px;
}
.textimya2{
    position: absolute;
    font-family: 'Inter';
    font-size: 23px;
    font-weight: 600;
    display: flex;
    padding: 10px 15px;
    left: 834px;
    top: 270px;
    background-color: #D9D2FF;
}
.textchmain5{
    position: absolute;
    font-family: 'Inter';
    font-size: 23px;
    font-weight: 600;
    padding: 10px 15px;
    border: 1px solid #696969;
    top: 340px;
    left: 930px;
    color: black;
    background-color: #D9D2FF;
}
footer{
    position: relative;
    width: 1440px;
    height: 110px;
    background: #333333;
}
.footimg1{
    position: absolute;
    top: 29px;
    left: 120px;
}
.foottext1{
    position: absolute;
    font-family: 'Inter';
    font-size: 23px;
    font-weight: 600;
    color: white;
    left: 1140px;
}
.footimg2{
    position: absolute;
    top: 53px;
    left: 1140px;
    width: 50px;
    height: 50px;
}
.footimg3{
    position: absolute;
    top: 53px;
    left: 1250px;
    width: 50px;
    height: 50px;
}
.imgvt2{
    position: absolute;
    left: 120px;
    top: 286px;
}
.imgvt3{
    position: absolute;
    left: 225px;
    top: 286px;
}