* {
    margin: 0;
  padding: 0;
}
html,body {
  height: 100%;
}
header, main, footer {
    width: 1040px;
    margin: 0 auto;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 100%;
}
header{
  padding-bottom: 100px;
}
main{
   padding-bottom:100px;
}
footer{
  margin: -100px auto 0;
  position: relative;
  height: 100px;
}
body{
    background-color: #380577;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.main_img-float{
    width: 500px;
    padding-right: 40px;
    float: left;
}
#panorama{
    width: 100%;
    height: 150px;
    background: url(../img/2.jpg) no-repeat center 70%;
    background-size: cover;
}
.services_img{
    width: 400px;
}
.services_item{
    padding-right: 40px;
    padding-left: 40px;
    width: 240px;
    float: left;
}
.servies{
  padding: 35px;
  border: 5px;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.h1--invisible{
  visibility: hidden;
}
.KO1 {
  padding-left: 32%;
  color:purple
  }
.img123{
   padding-left: 22%
  }
.text {
  line-height: 25px;
  padding-left: 22%;
  padding-right: 16%;
  }
.whi{
  color: white;
  }
  .qwe{
    text-align: center;
    line-height: 35px;
  }
 .zxc{
  color: palevioletred;
 }
 services_img1 {
  width: 240px;
  height: 240px;
}
#logo{
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  line-height: 100px;
  font-size: 24px;
  float: left;
}
.pink{
  color: pink;
}
.footer_block{
  display: inline-block;
  width: 335px;

}
.footer_icon{
  display: inline-block;
  width: 335px;
  text-align: right;
  margin-left: 10px;
}
.footer_img{
  width: 50px;
}
#footer_block{
  text-transform: uppercase;
}
.red{
  color: red;
}
#h1{
  text-transform: uppercase;
 font-weight: bold;
 font-size: 20px;
}
#mark{
  color: aqua;
}
.shrift{
  font-family: 'Nunito Sans', sans-serif;
}
#mainnav ul{
  list-style: none;
margin: 0px auto;
padding-left: 0px;

}
#mainnav li{
display: inline;
text-indent: 30px;
padding-left: 40px;
padding-top: 30px;
}
#mainnav a:hover{
text-decoration: none  ;
}
.nav__link{
text-decoration: none;
color: #fff;
vertical-align: top;
top: 10px;
left: 10px;

}
#mainnav li.active a{
font-weight: bold;
}
.enter{
font-size: 20px;
}
.conteiner{
display: flex;
}
.price {
  border: 5px solid #f60ad5;
border-collapse: collapse;
text-align: center;
margin: 10px;
}
td, th {
border: 2px solid white;

}
.price th:first-child{
width: 10%;

}
.price th:nth-child(2), .price th:last-child{
width: 25%;
background-color: purple;
}
.price tr:nth-child(2), .price tr:nth-child(4) {
background-color: purple;
}
.form{
  color: white;
}
#contact_form input[type="text"], [type="textarea"] {
  height: 20px;
  width: 250px;
  padding: 5px;
  margin-bottom: 10px;
  border: white solid 1px;
  background-color: #eddfff;
}
#contact_form input[type="submit"]:hover {
  background-color: #eddfff;
}
#contact_form input[type="submit"] {
  background-color: #c198f7;
}
#topic {
  background-color: #eddfff;
}
#namearea {
  background-color: #eddfff;
}
